body {
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    display: block;
}

#controls {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    opacity: 0.8;
    cursor: pointer;
}

.btn.paused::after {
    content: '▶';
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}

.btn.playing::after {
    content: '⏸';
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}

#soundControls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sound-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.sound-btn.active {
    background: #ff7e5f;
    color: white;
}

/* Clear button as X */
#clearBtn {
    clip-path: polygon(
            20% 0%, 50% 30%, 80% 0%, 100% 20%, 70% 50%, 100% 80%,
            80% 100%, 50% 70%, 20% 100%, 0% 80%, 30% 50%, 0% 20%
    );
    background: rgba(255, 255, 255, 0.8); /* white X */
}
#clearBtn:hover {
    background: rgba(255, 255, 255, 1);
}